.copy_right_footer {
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    background-color: aqua;
    text-align: center;
}

body {
    background-color: aquamarine;

}

.header_div {
    background-color: blue;
    color: white;
}

.header_div p {
    color: red;
}